Repository mithorizon7/AIAssignmentProMH, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @security-team, @backend-team, @frontend-team, @database-team, @devops-team, @tech-writers, @qa-team

.github/CODEOWNERS:

# Code Owners for AIGrader Repository
# This file defines individuals or teams responsible for code in this repository

# Global ownership - require review from core team
* @core-team

# Critical system files require additional review
package.json @core-team @security-team
package-lock.json @core-team @security-team
tsconfig.json @core-team
vite.config.ts @core-team
vitest.config.ts @core-team

# Server-side code requires backend team review
server/ @backend-team @core-team
shared/ @backend-team @frontend-team

# Frontend code requires frontend team review
client/ @frontend-team @core-team

# Database and schema changes require database team review
shared/schema.ts @database-team @backend-team @core-team
drizzle.config.ts @database-team @backend-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @core-team @devops-team
Dockerfile @security-team @devops-team
docker-compose.yml @security-team @devops-team
nginx.conf @security-team @devops-team
ecosystem.config.js @devops-team

# Environment and configuration files
.env.example @security-team @core-team
.eslintrc.js @core-team
.prettierrc @core-team

# Documentation requires technical writing review
README.md @core-team @tech-writers
docs/ @tech-writers @core-team
*.md @tech-writers

# Test files require QA team review
test/ @qa-team @core-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.ts @qa-team
**/*.spec.tsx @qa-team

Enhance CI/CD pipeline with updated linting, testing and validation
  .eslintrc.js
  .github/workflows/ci.yml
  .husky/pre-commit
  CI_CD_FINAL_VALIDATION_COMPLETE.md
  attached_assets/Pasted-Alright-look-over-this-carefully-as-well-to-validate-if-these-issues-are-correct-and-need-to-be-add-1752530487490_1752530487490.txt
  eslint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  replit.md
  scripts/quick-ci-validation.js
  scripts/validate-ci-cd-complete.js
  test/setup.ts
Owners: @core-team, @security-team, @devops-team, @tech-writers, @qa-team

Implement data privacy tools for managing user data and complying with regulations
  client/src/App.tsx
  client/src/components/layout/admin-shell.tsx
  client/src/pages/admin/DataProtection.tsx
  docs/PRIVACY_POLICY.md
  package-lock.json
  package.json
  server/routes.ts
  server/routes/data-protection.ts
  server/scripts/setup-data-protection-tables.sql
  server/services/data-protection.ts
  shared/data-protection.ts
  shared/schema.ts
Owners: @frontend-team, @core-team, @tech-writers, @security-team, @backend-team, @database-team

Improve AI assessment reliability by handling incomplete responses
  server/adapters/gemini-adapter.ts
  server/utils/json-parser.ts
Owners: @backend-team, @core-team

Add a test suite to ensure the grading system functions correctly
  test/ai-feedback/README.md
  test/ai-feedback/comprehensive-test-suite.test.ts
  test/ai-feedback/gemini-adapter.test.ts
  test/ai-feedback/global-setup.ts
  test/ai-feedback/instructor-workflow.test.ts
  test/ai-feedback/package.json
  test/ai-feedback/performance-reliability.test.ts
  test/ai-feedback/queue-system.test.ts
  test/ai-feedback/run-tests.sh
  test/ai-feedback/security-compliance.test.ts
  test/ai-feedback/setup.ts
  test/ai-feedback/student-workflow.test.ts
  test/ai-feedback/test-runner.ts
  vitest.ai-feedback.config.ts
Owners: @qa-team, @core-team

Improve test execution by adjusting paths and configuration settings
  test/ai-feedback/run-tests.sh
  vitest.ai-feedback.config.ts
Owners: @qa-team, @core-team

Establish automated tests for AI feedback and system health validation
  test-gemini-connection.mjs
  test/ai-feedback/mock-test-suite.test.ts
  test/ai-feedback/production-validation.test.ts
  test/ai-feedback/run-tests.sh
Owners: @core-team, @qa-team

Restored to '726f4bee17be5a32a85bebf754d48565c6149373'
  test-gemini-connection.mjs
  test/ai-feedback/mock-test-suite.test.ts
  test/ai-feedback/production-validation.test.ts
  test/ai-feedback/run-tests.sh
Owners: @core-team, @qa-team

Add comprehensive system checks to ensure the platform is production ready
  run-production-tests.sh
  test/ai-feedback/mock-test-environment.test.ts
  test/integration/production-end-to-end.test.ts
  validate-production-readiness.js
Owners: @core-team, @qa-team

Resolve issue preventing instructors from creating new assignments
  ASSIGNMENT_CREATION_SOLUTION.md
  package-lock.json
  package.json
  replit.md
  server/middleware/csrf-protection.ts
Owners: @tech-writers, @core-team, @security-team, @backend-team

Improve security by fixing CSRF token handling across application
  client/src/lib/queryClient.ts
  server/middleware/csrf-protection.ts
  test-assignment-creation-fixed.js
Owners: @frontend-team, @core-team, @backend-team

Improve creation of new assignments and reliability of assignment storage
  server/storage.ts
Owners: @backend-team, @core-team

Allow assignment creation even when a specific course is not selected
  server/routes.ts
Owners: @backend-team, @core-team

Allow students to successfully submit their assignments and course work
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Improve the file upload system to accept a wider range of file formats
  client/src/lib/constants.ts
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Update the text submission tab to be more descriptive and inclusive
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Update the file upload component to reflect multimodal support capabilities
  client/src/components/ui/file-upload.tsx
Owners: @frontend-team, @core-team

Enable assignment submissions to be processed during development
  server/services/storage-service.ts
  server/utils/multimodal-processor.ts
Owners: @backend-team, @core-team

Allow unauthenticated users to submit assignments to the platform
  client/src/pages/submit.tsx
  server/routes.ts
Owners: @frontend-team, @core-team, @backend-team

Ensure form validation occurs only for unauthenticated assignment submissions
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Enhance submission interface and always show notes field below main section
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Ensure assignment submissions are secure and protected from unauthorized access
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Display feedback summaries using a more reliable rendering component
  client/src/components/ui/feedback-card.tsx
Owners: @frontend-team, @core-team

Clean up the display of assignment instructions on the submission page
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Improve Redis performance and stability by optimizing request handling
  server/lib/queue-performance-monitor.ts
  server/lib/redis-circuit-breaker.ts
  server/queue/bullmq-submission-queue.ts
  server/queue/redis-client.ts
  server/queue/security-audit.ts
Owners: @backend-team, @core-team

Improve system performance and reliability with optimized resource management
  replit.md
  server/queue/bullmq-submission-queue.ts
  server/queue/security-audit.ts
Owners: @tech-writers, @backend-team, @core-team

Improve system stability by disabling Redis queue and using direct processing
  replit.md
  server/queue/bullmq-submission-queue.ts
Owners: @tech-writers, @backend-team, @core-team

Ensure assignment descriptions always display correctly on the submission page
  client/src/components/quill-content.tsx
  client/src/pages/submit.tsx
Owners: @frontend-team, @core-team

Disable security checks for submissions during development
  server/auth.ts
Owners: @backend-team, @core-team

Validate system, fix display, resolve security conflict, optimize performance
  comprehensive-system-validation.md
  replit.md
Owners: @tech-writers

Improve local file storage during development to prevent submission failures
  server/services/storage-service.ts
Owners: @backend-team, @core-team

Ensure assignment submissions are processed and stored correctly
  replit.md
  server/auth.ts
  server/queue/bullmq-submission-queue.ts
  server/services/ai-service.ts
Owners: @tech-writers, @backend-team, @core-team

Enhance platform performance and fix submission issues for better reliability
  comprehensive-submission-tests.js
  database-optimization-validation.js
  debug-submission-issue.js
  package-lock.json
  package.json
  replit.md
  server/routes.ts
  server/storage.ts
Owners: @core-team, @security-team, @tech-writers, @backend-team

Improve platform speed and efficiency by optimizing database interactions
  attached_assets/Pasted-Look-carefully-over-this-again-and-make-sure-everything-is-done-well-completely-with-out-bugs-ful-1752702286503_1752702286503.txt
  final-performance-validation.js
  replit.md
  server/routes.ts
  server/storage.ts
Owners: @core-team, @tech-writers, @backend-team

Improve platform speed and accuracy by optimizing data retrieval methods
  replit.md
  server/storage.ts
Owners: @tech-writers, @backend-team, @core-team

Improve submission processing and overall data handling efficiency
  server/queue/bullmq-submission-queue.ts
  server/routes.ts
Owners: @backend-team, @core-team

Improve AI analysis of student work by correctly processing file data
  server/queue/bullmq-submission-queue.ts
Owners: @backend-team, @core-team

Order student submissions by date to ensure correct listing on assignment
  server/storage.ts
  test-assignment-submission-status.js
Owners: @backend-team, @core-team

Provide students with a detailed view of all submissions by assignment
  client/src/components/student/submission-history-by-assignment.tsx
  client/src/pages/dashboard.tsx
  package-lock.json
  package.json
  server/storage.ts
Owners: @frontend-team, @core-team, @security-team, @backend-team

Enhance user experience and fix database issues for smooth assignment tracking
  client/src/components/student/assignment-card.tsx
  client/src/components/student/submission-history-by-assignment.tsx
  replit.md
  server/storage.ts
Owners: @frontend-team, @core-team, @tech-writers, @backend-team

Show students submissions and feedback for specific assignments
  client/src/components/student/submission-history.tsx
  client/src/pages/submission-detail.tsx
  server/routes.ts
  server/storage.ts
Owners: @frontend-team, @core-team, @backend-team
