Repository mithorizon7/AIAssignmentProMH, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @security-team, @backend-team, @frontend-team, @database-team, @devops-team, @tech-writers, @qa-team

.github/CODEOWNERS:

# Code Owners for AIGrader Repository
# This file defines individuals or teams responsible for code in this repository

# Global ownership - require review from core team
* @core-team

# Critical system files require additional review
package.json @core-team @security-team
package-lock.json @core-team @security-team
tsconfig.json @core-team
vite.config.ts @core-team
vitest.config.ts @core-team

# Server-side code requires backend team review
server/ @backend-team @core-team
shared/ @backend-team @frontend-team

# Frontend code requires frontend team review
client/ @frontend-team @core-team

# Database and schema changes require database team review
shared/schema.ts @database-team @backend-team @core-team
drizzle.config.ts @database-team @backend-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @core-team @devops-team
Dockerfile @security-team @devops-team
docker-compose.yml @security-team @devops-team
nginx.conf @security-team @devops-team
ecosystem.config.js @devops-team

# Environment and configuration files
.env.example @security-team @core-team
.eslintrc.js @core-team
.prettierrc @core-team

# Documentation requires technical writing review
README.md @core-team @tech-writers
docs/ @tech-writers @core-team
*.md @tech-writers

# Test files require QA team review
test/ @qa-team @core-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.ts @qa-team
**/*.spec.tsx @qa-team

Improve validation of uploaded files to ensure they are the correct type
  server/routes.ts
Owners: @backend-team, @core-team

Enable users to submit plain text directly through the assessment platform
  replit.md
  server/routes.ts
Owners: @tech-writers, @backend-team, @core-team

Fix text submissions to properly send content between frontend and backend
  client/src/components/student/submission-form.tsx
  client/src/pages/submit.tsx
  replit.md
Owners: @frontend-team, @core-team, @tech-writers

Update text submission tab to prompt users to paste content from clipboard
  client/src/components/student/submission-form.tsx
  replit.md
Owners: @frontend-team, @core-team, @tech-writers

Improve display of assessment criteria names and handle missing IDs gracefully
  client/src/components/ui/feedback-card.tsx
Owners: @frontend-team, @core-team

Show accurate feedback generation statuses in submission history
  client/src/components/student/submission-history-by-assignment.tsx
Owners: @frontend-team, @core-team

Improve the display of assignment feedback and fix display of assessment names
  client/src/components/student/submission-history-by-assignment.tsx
  client/src/components/ui/feedback-card.tsx
Owners: @frontend-team, @core-team

Enhance assignment handling with automatic status updates and indicators
  client/src/components/admin/assignment-status-manager.tsx
  client/src/components/student/assignment-card.tsx
  client/src/components/student/assignment-status-indicator.tsx
  client/src/pages/assignments.tsx
  server/index.ts
  server/lib/graceful-shutdown.ts
  server/routes.ts
  server/services/assignment-scheduler.ts
  server/services/assignment-status-service.ts
  test-assignment-status.js
Owners: @frontend-team, @core-team, @backend-team

Improve automated assignment status calculations across the entire platform
  client/src/components/admin/assignment-status-manager.tsx
  replit.md
  server/lib/graceful-shutdown.ts
  test-assignment-status.js
Owners: @frontend-team, @core-team, @tech-writers, @backend-team

Improve assignment visibility by adding date-based open and close times
  client/src/pages/assignments.tsx
  replit.md
  server/services/assignment-status-service.ts
  shared/schema.ts
Owners: @frontend-team, @core-team, @tech-writers, @backend-team, @database-team

Enable instructors to schedule assignments for release in the future
  client/src/components/student/assignment-card.tsx
  client/src/lib/types.ts
  client/src/pages/assignments.tsx
  client/src/pages/instructor/create-assignment.tsx
  client/src/pages/instructor/enhanced-create-assignment.tsx
  client/src/pages/submit.tsx
  server/services/assignment-status-service.ts
Owners: @frontend-team, @core-team, @backend-team

Improve how assignment submissions are displayed in the student history
  client/src/components/student/real-time-submission-card.tsx
  client/src/components/student/submission-history.tsx
  replit.md
Owners: @frontend-team, @core-team, @tech-writers

Show celebration only for the most recent submission on history page
  client/src/components/student/real-time-submission-card.tsx
Owners: @frontend-team, @core-team

Improve display of student work making the latest submission stand out
  client/src/components/student/submission-history-by-assignment.tsx
  client/src/components/student/submission-history.tsx
  replit.md
Owners: @frontend-team, @core-team, @tech-writers

Prevent errors when viewing student assignment submission histories
  client/src/components/student/submission-history-by-assignment.tsx
Owners: @frontend-team, @core-team

Improve display of assignment submissions and feedback history for students
  client/src/components/student/submission-history-by-assignment.tsx
Owners: @frontend-team, @core-team

Restore ability to hide feedback details on latest student submissions
  client/src/components/student/submission-history-by-assignment.tsx
  replit.md
Owners: @frontend-team, @core-team, @tech-writers

Streamline the platform build process and resolve duplicate Redis configurations
  attached_assets/Pasted-2025-07-18T16-08-55Z-info-Deployment-2fa10bf8-5774-42e3-bfea-305d01635907-2025-07-18T16-08-55Z-inf-1752871334004_1752871334005.txt
Owners: @core-team

Ensure platform is stable and ready for deployment with key enhancements
  replit.md
  server/queue/redis-client.ts
  server/services/data-protection.ts
Owners: @tech-writers, @backend-team, @core-team

Improve deployment process by addressing environment variables and build quality
  attached_assets/Pasted-Here-s-a-breakdown-of-what-they-are-doing-right-and-what-you-need-to-correct-What-They-Got-Right--1752871563988_1752871563988.txt
  replit.md
Owners: @core-team, @tech-writers

Improve overall platform documentation and environment configuration
  .env.example
  CHANGELOG.md
  README.md
  archive/CI_CD_FINAL_VALIDATION_COMPLETE.md
  archive/CI_CD_IMPLEMENTATION_COMPLETE.md
  archive/DATABASE_SCHEMA_INTEGRITY_ENHANCEMENT_COMPLETE.md
  archive/DATA_PROTECTION_PERFORMANCE_AUDIT_COMPLETE.md
  archive/HORIZONTAL_SCALING_COMPLETE.md
  archive/PERFORMANCE_OPTIMIZATION_COMPLETE.md
  archive/PERFORMANCE_SCALABILITY_AUDIT_COMPLETE.md
  archive/QUEUE_SYSTEM_VALIDATION_COMPLETE.md
  archive/REDIS_CONSOLIDATION_COMPLETE.md
  archive/REDIS_QUEUE_OPTIMIZATION_COMPLETE.md
  archive/TECHNICAL_DEBT_AUDIT_COMPLETE.md
  archive/UX_ENHANCEMENT_AUDIT_COMPLETE.md
  attached_assets/Pasted-Detailed-Requirements-1-Master-README-md-File-The-main-README-md-should-be-the-definitive-entry-p-1752872416491_1752872416491.txt
  attached_assets/Pasted-Let-s-update-and-improve-the-readme-file-The-README-md-in-the-project-root-must-be-the-starting-poi-1752872354802_1752872354803.txt
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/USER_GUIDE.md
  replit.md
Owners: @security-team, @core-team, @tech-writers

Ensure logging setting is correctly interpreted for different environments
  server/lib/env-config.ts
  server/lib/logger.ts
Owners: @backend-team, @core-team

Create a comprehensive guide that introduces the project to new developers
  README.md
  attached_assets/Pasted--Header-Project-Title-AIGrader-AI-Powered-Assignment-Feedback-Platform-Badges-Optional-but-Re-1752873214336_1752873214336.txt
  replit.md
Owners: @tech-writers, @core-team

Enable redis queue for improved processing and reliability of submissions
  .env.example
  server/lib/env-config.ts
  server/queue/bullmq-submission-queue.ts
Owners: @security-team, @core-team, @backend-team

Improve Redis integration and queue management for reliable operation
  .env.example
  REDIS_CONFIGURATION.md
  server/lib/env-config.ts
  server/queue/bullmq-submission-queue.ts
Owners: @security-team, @core-team, @tech-writers, @backend-team

Improve security scanning by using a placeholder CSRF token example
  comprehensive-system-validation.md
  replit.md
Owners: @tech-writers

Protect database from dangerous attacks by sanitizing user inputs
  replit.md
  server/lib/database-optimizer.ts
Owners: @tech-writers, @backend-team, @core-team

Harden file uploading to prevent denial of service attacks
  package-lock.json
  package.json
Owners: @core-team, @security-team

Enhance platform security by updating packages and resolving vulnerabilities
  package-lock.json
  package.json
  replit.md
Owners: @core-team, @security-team, @tech-writers

Ensure the application is fully ready before starting to prevent errors
  attached_assets/Pasted-This-is-a-tricky-bug-but-the-logs-provide-a-clear-picture-of-what-s-going-wrong-This-is-a-race-con-1752878440269_1752878440269.txt
  replit.md
  server/lib/production-validator.ts
  server/queue/redis-client.ts
Owners: @core-team, @tech-writers, @backend-team

Confirm the platform is fully functional and ready for enterprise use
  replit.md
Owners: @tech-writers

Improve responsiveness by adjusting the timing of server requests
  server/queue/redis-client.ts
Owners: @backend-team, @core-team

Organize documentation for better project structure and maintainability
  archived_docs/AGENTS.md
  archived_docs/ASSIGNMENT_CREATION_SOLUTION.md
  archived_docs/AUTH0_CONFIGURATION.md
  archived_docs/BUILD_OPTIMIZATION.md
  archived_docs/CACHE_BUSTING_NOTES.md
  archived_docs/CHANGELOG.md
  archived_docs/MIT_HORIZON_OIDC_CONFIGURATION.md
  archived_docs/QUEUE_SYSTEM_ISSUE_FIXED.md
  archived_docs/README.md
  archived_docs/REDIS_CONFIGURATION.md
  archived_docs/SECURITY.md
  archived_docs/TECHNICAL_DEBT_COMPREHENSIVE_AUDIT.md
  archived_docs/TEMPORARY_WORKAROUNDS_REMOVED.md
  archived_docs/gemini-file-handling-docs.md
  archived_docs/gemini_adapter_improvements.md
  archived_docs/gemini_adapter_production_fixes.md
  replit.md
Owners: @tech-writers

Organize and archive project documents to improve overall structure
  docs/archive/AGENTS.md
  docs/archive/ASSIGNMENT_CREATION_SOLUTION.md
  docs/archive/AUTH0_CONFIGURATION.md
  docs/archive/BUILD_OPTIMIZATION.md
  docs/archive/CACHE_BUSTING_NOTES.md
  docs/archive/CHANGELOG.md
  docs/archive/MIT_HORIZON_OIDC_CONFIGURATION.md
  docs/archive/QUEUE_SYSTEM_ISSUE_FIXED.md
  docs/archive/README.md
  docs/archive/REDIS_CONFIGURATION.md
  docs/archive/SECURITY.md
  docs/archive/TECHNICAL_DEBT_COMPREHENSIVE_AUDIT.md
  docs/archive/TEMPORARY_WORKAROUNDS_REMOVED.md
  docs/archive/gemini-file-handling-docs.md
  docs/archive/gemini_adapter_improvements.md
  docs/archive/gemini_adapter_production_fixes.md
  replit.md
Owners: @tech-writers

Update links and repository references throughout the entire documentation
  README.md
Owners: @tech-writers

Add project overview form to collect details about the platform's status
  attached_assets/Pasted--1-PROJECT-OVERVIEW-1-What-is-the-name-of-the-project-2-Briefly-describe-the-purpose-of-the--1753092591710_1753092591710.txt
Owners: @core-team

Protect sensitive data by updating the files and directories to exclude
  .gitignore
Owners: @core-team
