Repository mithorizon7/AIAssignmentProMH, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @security-team, @backend-team, @frontend-team, @database-team, @devops-team, @tech-writers, @qa-team

.github/CODEOWNERS:

# Code Owners for AIGrader Repository
# This file defines individuals or teams responsible for code in this repository

# Global ownership - require review from core team
* @core-team

# Critical system files require additional review
package.json @core-team @security-team
package-lock.json @core-team @security-team
tsconfig.json @core-team
vite.config.ts @core-team
vitest.config.ts @core-team

# Server-side code requires backend team review
server/ @backend-team @core-team
shared/ @backend-team @frontend-team

# Frontend code requires frontend team review
client/ @frontend-team @core-team

# Database and schema changes require database team review
shared/schema.ts @database-team @backend-team @core-team
drizzle.config.ts @database-team @backend-team

# Security-sensitive files require security team review
.github/workflows/ @security-team @core-team @devops-team
Dockerfile @security-team @devops-team
docker-compose.yml @security-team @devops-team
nginx.conf @security-team @devops-team
ecosystem.config.js @devops-team

# Environment and configuration files
.env.example @security-team @core-team
.eslintrc.js @core-team
.prettierrc @core-team

# Documentation requires technical writing review
README.md @core-team @tech-writers
docs/ @tech-writers @core-team
*.md @tech-writers

# Test files require QA team review
test/ @qa-team @core-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.ts @qa-team
**/*.spec.tsx @qa-team

Improve submission history and update assignment-specific submission retrieval
  client/src/pages/submission-detail.tsx
  replit.md
  server/storage.ts
Owners: @frontend-team, @core-team, @tech-writers, @backend-team

Render assignment descriptions as HTML to enhance content presentation
  client/src/components/quill-content.tsx
  client/src/components/student/submission-form.tsx
  client/src/components/ui/quill-content.tsx
Owners: @frontend-team, @core-team

Increase the size of the logo to improve visibility across the platform
  client/src/components/layout/header.tsx
  client/src/components/layout/instructor-shell.tsx
  client/src/components/layout/mit-navbar.tsx
  client/src/components/layout/sidebar.tsx
Owners: @frontend-team, @core-team

Ensure file submissions are processed smoothly for students
  server/routes.ts
Owners: @backend-team, @core-team

Allow users to submit files anonymously without needing special tokens
  attached_assets/Pasted-Look-this-over-as-suggestions-and-take-any-actions-that-you-think-would-be-helpful-If-it-s-already--1752778992454_1752778992454.txt
  attached_assets/Pasted-Of-course-Let-s-break-down-why-you-re-seeing-that-Missing-CSRF-token-error-when-you-submit-an-ima-1752778948703_1752778948704.txt
  server/auth.ts
  server/middleware/csrf-protection.ts
  server/routes.ts
Owners: @core-team, @backend-team

Improve application logging with more detailed and structured information
  replit.md
  server/index.ts
Owners: @tech-writers, @backend-team, @core-team

Give students real-time updates and notifications on their submissions
  client/src/components/student/real-time-submission-card.tsx
  client/src/components/student/submission-history.tsx
  client/src/components/ui/badge.tsx
  client/src/hooks/useSubmissionPolling.ts
  client/src/pages/submission-detail.tsx
Owners: @frontend-team, @core-team

Improve the user experience and fix bugs across different sections
  client/src/components/instructor/assignment-table.tsx
  client/src/components/student/real-time-submission-card.tsx
  client/src/components/student/submission-history-by-assignment.tsx
  client/src/components/student/submission-history.tsx
  client/src/hooks/useSubmissionPolling.ts
  client/src/lib/auth-enhanced.tsx
  client/src/lib/auth.tsx
  client/src/lib/safe-storage.ts
  client/src/pages/admin/DataProtection.tsx
  client/src/pages/admin/dashboard.tsx
Owners: @frontend-team, @core-team

Improve instructor grade export and fix student submission link
  attached_assets/Pasted-Excellent-These-components-are-well-designed-follow-modern-React-best-practices-and-create-a-rich-1752780761870_1752780761870.txt
  client/src/components/instructor/assignment-table.tsx
  client/src/components/student/submission-history-by-assignment.tsx
Owners: @core-team, @frontend-team

Re-enable detailed AI feedback based on provided assignment rubrics
  replit.md
  server/services/ai-service.ts
Owners: @tech-writers, @backend-team, @core-team

Improve the process of handling files sent to the AI model
  replit.md
  server/adapters/gemini-adapter.ts
Owners: @tech-writers, @backend-team, @core-team

Implement a more flexible and scalable system for user authorization
  replit.md
  server/middleware/auth.ts
  server/routes.ts
  server/routes/admin.ts
  server/routes/instructor.ts
Owners: @tech-writers, @backend-team, @core-team

Improve role-based access control and schema definitions for platform
  server/routes.ts
  server/routes/admin-logs.ts
  server/routes/admin-stats.ts
  shared/schema.ts
Owners: @backend-team, @core-team, @database-team

Improve admin interface performance and fix route conflicts
  replit.md
  server/routes.ts
  server/routes/admin.ts
Owners: @tech-writers, @backend-team, @core-team

Improve speed when instructors view assignment submissions with feedback
  attached_assets/Pasted-Of-course-Here-are-the-instructions-for-your-developer-to-fix-the-N-1-query-issue--1752782588694_1752782588694.txt
Owners: @core-team

Improve performance when instructors view student submissions with feedback
  attached_assets/Pasted--The-Change-Combine-Two-Database-Queries-into-One-The-goal-is-to-refactor-the-GET-assignm-1752782643223_1752782643223.txt
  replit.md
  server/routes/instructor.ts
Owners: @core-team, @tech-writers, @backend-team

Fix critical error preventing instructors from viewing student submissions
  replit.md
  server/storage.ts
Owners: @tech-writers, @backend-team, @core-team

Improve platform stability and performance with key enhancements
  replit.md
  server/adapters/ai-adapter.ts
  server/adapters/gemini-adapter.ts
  server/db.ts
  server/routes.ts
  server/services/ai-service.ts
  server/services/batch-operations.ts
  server/services/data-protection.ts
  server/services/metrics-service.ts
  server/services/storage-service.ts
  server/storage.ts
Owners: @tech-writers, @backend-team, @core-team

Ensure platform stability and enhance performance across all system functions
  replit.md
  server/adapters/interfaces.ts
  server/auth.ts
  server/migrations/add-file-type-settings.ts
  server/queue/bullmq-submission-queue.ts
  server/routes.ts
  server/routes/admin-logs.ts
  server/routes/admin-stats.ts
  server/routes/admin.ts
  server/routes/data-protection.ts
  server/routes/instructor.ts
Owners: @tech-writers, @backend-team, @core-team

Enhance the platform to safely manage large file uploads and reduce memory use
  replit.md
  server/routes.ts
  server/services/storage-service-backup.ts
Owners: @tech-writers, @backend-team, @core-team

Improve memory management and file processing for uploads in assessment platform
  replit.md
  server/adapters/gemini-adapter.ts
  server/routes.ts
Owners: @tech-writers, @backend-team, @core-team

Enhance platform scalability and stability with database optimizations
  replit.md
  server/routes/admin.ts
  server/services/metrics-service.ts
Owners: @tech-writers, @backend-team, @core-team

Improve platform's ability to handle large amounts of data efficiently
  replit.md
Owners: @tech-writers

Improve assessment processing speed and reduce database load dramatically
  replit.md
  server/services/metrics-service.ts
Owners: @tech-writers, @backend-team, @core-team

Ensure stats calculation is fully optimized, error-proof, and ready for use
  replit.md
Owners: @tech-writers

Ensure efficient data retrieval for assignment submissions
  replit.md
  server/routes.ts.backup
  server/routes.ts.old
  server/services/storage-service-backup.ts
Owners: @tech-writers, @backend-team, @core-team

Improve course progress reports with faster and more accurate information
  replit.md
  server/services/batch-operations.ts
Owners: @tech-writers, @backend-team, @core-team

Improve platform performance and memory usage for grading and submissions
  replit.md
  server/services/batch-operations.ts
  server/services/storage-service.ts
Owners: @tech-writers, @backend-team, @core-team

Ensure user data is completely removed to comply with privacy regulations
  replit.md
  server/services/data-protection.ts
Owners: @tech-writers, @backend-team, @core-team

Enhance data protection service for full GDPR/FERPA compliance and reliability
  replit.md
  server/services/data-protection.ts
  shared/data-protection.ts
  shared/schema.ts
Owners: @tech-writers, @backend-team, @core-team, @frontend-team, @database-team

Provide a complete user data export, supporting GDPR and FERPA compliance
  replit.md
  server/services/data-protection.ts
  shared/data-protection.ts
Owners: @tech-writers, @backend-team, @core-team, @frontend-team

Enhance user data deletion and anonymization for regulatory compliance
  replit.md
  server/routes/data-protection.ts
  server/services/data-protection.ts
Owners: @tech-writers, @backend-team, @core-team

Improve system for deleting user data and retaining data protection logs
  server/services/data-protection.ts
Owners: @backend-team, @core-team

Improve dashboard performance and fix pagination errors on data views
  replit.md
  server/routes/data-protection.ts
Owners: @tech-writers, @backend-team, @core-team

Enhance data handling to ensure data protection and improved performance
  DATA_PROTECTION_PERFORMANCE_AUDIT_COMPLETE.md
  replit.md
  server/routes/data-protection.ts
Owners: @tech-writers, @backend-team, @core-team

Improve data handling when users are removed from the system
  DATABASE_SCHEMA_INTEGRITY_ENHANCEMENT_COMPLETE.md
  replit.md
  shared/schema.ts
Owners: @tech-writers, @database-team, @backend-team, @core-team

Ensure data integrity through enhanced database relationships and user security
  replit.md
  server/auth.ts
  server/services/data-protection.ts
  shared/schema.ts
Owners: @tech-writers, @backend-team, @core-team, @database-team

Enhance data handling and security measures across the entire platform
  client/src/pages/admin/DataProtection.tsx
  client/src/pages/instructor/courses.tsx
  replit.md
  server/auth.ts
Owners: @frontend-team, @core-team, @tech-writers, @backend-team

Ensure AI grading system uses consistent token limits for more reliable results
  replit.md
  server/adapters/gemini-adapter.ts
Owners: @tech-writers, @backend-team, @core-team

Improve the platform by allowing users to submit various file types
  server/routes.ts
Owners: @backend-team, @core-team
